@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@-webkit-keyframes mobile-background-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #E57B5D; } }

@-moz-keyframes mobile-background-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #E57B5D; } }

@-o-keyframes mobile-background-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #E57B5D; } }

@keyframes mobile-background-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #E57B5D; } }

@-webkit-keyframes hero-gradient-loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }

@-moz-keyframes hero-gradient-loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }

@-o-keyframes hero-gradient-loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }

@keyframes hero-gradient-loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }

@-webkit-keyframes hero-color-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #E57B5D; } }

@-moz-keyframes hero-color-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #E57B5D; } }

@-o-keyframes hero-color-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #E57B5D; } }

@keyframes hero-color-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #E57B5D; } }

* {
  box-sizing: border-box; }

html {
  height: 100%;
  background-color: #fff; }

body, html {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0; }

body {
  font-smoothing: antialiased;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  -webkit-animation: mobile-background-loop 20s infinite;
  animation: mobile-background-loop 20s infinite;
  will-change: background-color; }

@media screen and (min-width: 480px) {
  body {
    padding: 0 20px; } }

@media screen and (min-width: 480px) {
  body {
    -webkit-animation: none;
    animation: none;
    background-color: transparent; } }

@media screen and (min-width: 320px) {
  .touch body {
    -webkit-animation: mobile-background-loop 20s infinite;
    animation: mobile-background-loop 20s infinite;
    will-change: background-color; } }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

img {
  max-width: 100%; }

li {
  margin-bottom: 0.2em;
  line-height: 1; }

time {
  color: #8d8d8d; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.clearfix {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.left-align {
  text-align: left; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.justify {
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.display-none {
  display: none; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.collapse {
  visibility: collapse; }

body {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #0d0d0d;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #000;
  line-height: 1;
  margin-bottom: 0; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

.intro {
  font-size: 3em; }

.section__title {
  font-size: 1.2em;
  border-bottom: 0.2em solid #E57B5D; }

a {
  color: #8d8d8d; }

.footer__text {
  color: #fff;
  margin: 0;
  line-height: 1;
  font-size: .85em; }

.hero-gradient {
  display: none;
  height: 400%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

.hero-gradient-safari-flicker {
  display: none; }

@media screen and (min-width: 480px) {
  .hero-gradient {
    -webkit-animation: hero-gradient-loop 15s infinite;
    animation: hero-gradient-loop 15s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-image: url(/img/background-loop.png);
    background-size: 100% 100%;
    display: block;
    height: 1000%;
    position: fixed; }
  .hero-gradient-safari-flicker {
    background-image: url(/img/background-loop.png);
    background-size: 100% 100%;
    display: block;
    height: 1000%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2; } }

pre {
  padding: 0;
  line-height: 1.5;
  white-space: pre;
  overflow: auto;
  word-break: inherit;
  word-wrap: inherit; }

.highlight {
  background-color: #f8f8f8;
  border: 1px solid #cdcdcd;
  padding: 0.5em 1em;
  border-radius: 0.25em; }
  .highlight code {
    padding: 0; }

code {
  color: #636363;
  background-color: #f8f8f8;
  padding: 0.2em 0.5em;
  border-radius: 0.25em; }

.c {
  color: #8f8f8f; }

.err {
  color: #a6173b;
  background-color: #ffdddd; }

.k {
  color: #b58900; }

.o {
  color: #636363; }

.cm {
  color: #8f8f8f; }

.cp {
  color: #8f8f8f; }

.c1 {
  color: #8f8f8f; }

.cs {
  color: #8f8f8f; }

.gd {
  color: #636363;
  background-color: #ffdddd; }

.ge {
  color: #636363;
  font-style: italic; }

.gr {
  color: #a6173b; }

.gh {
  color: #8f8f8f; }

.gi {
  color: #636363;
  background-color: #ddffdd; }

.go {
  color: #636363; }

.gp {
  color: #636363; }

.gs {
  font-weight: bold; }

.gu {
  color: #8d8d8d; }

.gt {
  color: #a6173b; }

.kc {
  color: #636363; }

.kd {
  color: #636363; }

.kn {
  color: #636363; }

.kp {
  color: #E57B5D; }

.kr {
  color: #636363; }

.kt {
  color: #2aa198; }

.m {
  color: #2aa198; }

.s {
  color: #2aa198; }

.n {
  color: #268bd2; }

.na {
  color: #b58900; }

.nb {
  color: #2aa198; }

.nc {
  color: #2aa198; }

.no {
  color: #b58900; }

.nd {
  color: #2aa198; }

.ni {
  color: #a6173b; }

.ne {
  color: #a6173b; }

.nf {
  color: #268bd2; }

.nl {
  color: #a6173b; }

.nn {
  color: #636363; }

.nt {
  color: #268bd2; }

.nv {
  color: #b58900; }

.ow {
  color: #636363; }

.w {
  color: #8d8d8d; }

.mf {
  color: #2aa198; }

.mh {
  color: #2aa198; }

.mi {
  color: #2aa198; }

.mo {
  color: #2aa198; }

.sb {
  color: #2aa198; }

.sc {
  color: #2aa198; }

.sd {
  color: #2aa198; }

.s2 {
  color: #2aa198; }

.se {
  color: #2aa198; }

.sh {
  color: #2aa198; }

.si {
  color: #2aa198; }

.sx {
  color: #2aa198; }

.sr {
  color: #2aa198; }

.s1 {
  color: #2aa198; }

.ss {
  color: #E57B5D; }

.bp {
  color: #268bd2; }

.vc {
  color: #b58900; }

.vg {
  color: #b58900; }

.vi {
  color: #b58900; }

.il {
  color: #2aa198; }

.wrapper {
  margin: 0 1.5em;
  background-color: #fff; }

#work, #contributions, #writing, #elsewhere {
  width: 100%; }

@media (min-width: 37.5em) {
  #work, #contributions, #writing, #elsewhere {
    width: 40%;
    padding-right: 10%; } }

@media (min-width: 45em) {
  .wrapper {
    max-width: 34em;
    margin: 0 auto; } }

#footer {
  padding: 3.5em 0 1em 0; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 2.2em;
  height: 0;
  overflow: hidden; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.main-content__list {
  list-style: none;
  padding-left: 0; }

/* Buttons */
.btn--primary {
  background-image: linear-gradient(to right, #5b3c70, #e57b5d);
  border: 0;
  padding: .4rem .75rem;
  outline: none;
  margin-bottom: 1em; }

.btn__text {
  color: #fff;
  text-decoration: none;
  font-size: 1rem; }
