@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
* {
  box-sizing: border-box; }

html {
  height: 100%;
  background-color: transparent; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  font-size: 16px; }

body {
  font-smoothing: antialiased;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  -webkit-animation: mobile-background-loop 20s infinite;
  animation: mobile-background-loop 20s infinite;
  will-change: background-color; }
  @media screen and (min-width: 50em) {
    body {
      padding: 0 20px;
      -webkit-animation: none;
      animation: none;
      background-color: transparent; } }

ul, ol, ol li ol li {
  font-size: 20px; }
  @media screen and (min-width: 50em) {
    ul, ol, ol li ol li {
      font-size: 24px; } }

ul {
  list-style: none;
  padding-left: 0; }

@media screen and (min-width: 30em) {
  .touch body {
    -webkit-animation: mobile-background-loop 20s infinite;
    animation: mobile-background-loop 20s infinite;
    will-change: background-color; } }

button {
  background: transparent;
  border: none; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

img {
  max-width: 100%; }

table {
  width: 100%; }

a {
  word-wrap: break-word;
  cursor: pointer; }

.full, .work-item,
.one-sixth,
.one-third,
.half,
.two-third,
.five-sixth {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  text-rendering: auto; }

.full, .work-item,
.one-sixth,
.one-third,
.half,
.two-third,
.five-sixth {
  width: 100%; }

@media screen and (min-width: 30em) {
  .one-sixth {
    width: calc(100% / 6);
    *width: calc(100% / 6); }
  .one-third {
    width: calc(100% / 3);
    *width: calc(100% / 3); }
  .half {
    width: calc(100% / 2.05);
    *width: calc(100% / 2); }
  .two-third {
    width: calc(100% / 4);
    *width: calc(100% / 4); }
  .five-sixth {
    width: calc(100% / 5);
    *width: calc(100% / 5); } }

body {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #0d0d0d;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  letter-spacing: -1px; }
  @media screen and (min-width: 50em) {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      letter-spacing: 0; } }

h1 {
  font-size: 2em;
  margin-bottom: 2em;
  color: #5B3C70; }
  h1:after {
    background-color: silver;
    top: 10px;
    content: '';
    display: block;
    height: 3px;
    position: relative;
    width: 30px; }
  @media screen and (min-width: 50em) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: 1.5em; }
  @media screen and (min-width: 50em) {
    h2 {
      font-size: 2em; } }

h3 {
  font-size: 1.5em; }

h2, h3, h4, h5, h6 {
  color: #000;
  margin-top: 2em; }

.intro {
  font-size: 3em; }

.section__title {
  font-size: 1.2em; }

p {
  font-weight: 400;
  font-size: 1.25em; }

a {
  color: #8d8d8d;
  text-decoration: none; }

::selection {
  background-color: #5B3C70;
  color: #fff; }

@media screen and (min-width: 50em) {
  h1:after {
    left: -15px; }
  p {
    font-size: 1.5em; } }

time {
  color: #8d8d8d;
  font-size: 1.15em; }

.prev, .next {
  font-size: 1.25em; }
  @media screen and (min-width: 50em) {
    .prev, .next {
      font-size: 1.5em; } }

.next {
  float: right; }

span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 50%, 50%;
  background-size: contain; }

span.emoji-sizer {
  line-height: 0.81em;
  font-size: 1em;
  margin: -2px 0; }

span.emoji-outer {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  height: 1em;
  width: 1em; }

span.emoji-inner {
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1; }

img.emoji {
  width: 1em;
  height: 1em; }

header {
  max-width: 90em;
  margin: 0 auto; }

#logo {
  margin: 10px 0; }
  @media screen and (min-width: 50em) {
    #logo {
      margin: 20px 0; } }

@-webkit-keyframes mobile-background-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #5B3C70; } }

@-moz-keyframes mobile-background-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #5B3C70; } }

@-o-keyframes mobile-background-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #5B3C70; } }

@keyframes mobile-background-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #5B3C70; } }

@-webkit-keyframes hero-gradient-loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }

@-moz-keyframes hero-gradient-loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }

@-o-keyframes hero-gradient-loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }

@keyframes hero-gradient-loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }

@-webkit-keyframes hero-color-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #5B3C70; } }

@-moz-keyframes hero-color-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #5B3C70; } }

@-o-keyframes hero-color-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #5B3C70; } }

@keyframes hero-color-loop {
  0% {
    background-color: #5B3C70; }
  50% {
    background-color: #E57B5D; }
  100% {
    background-color: #5B3C70; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#menu-icon {
  z-index: 101;
  position: absolute;
  right: 0;
  top: 0;
  text-indent: -9999px;
  outline: 0;
  width: 50px;
  height: 50px;
  margin: 10px; }
  @media screen and (min-width: 50em) {
    #menu-icon {
      margin: 20px; } }
  #menu-icon::before {
    content: '';
    background-image: url("../svg/menu-icon.svg");
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px; }
  #menu-icon.open {
    position: fixed; }
    #menu-icon.open::before {
      background-image: url("../svg/menu-close.svg"); }

.menu__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100; }
  .menu__overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .menu__overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative; }
    .menu__overlay ul li {
      display: block;
      height: 20%;
      height: calc(100% / 4);
      min-height: 2em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .menu__overlay ul li a {
        font-size: 2em;
        display: block;
        color: #5B3C70;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        .menu__overlay ul li a:hover {
          color: silver; }
  .menu__overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s; }
    .menu__overlay-slidedown.open {
      visibility: visible;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      -webkit-transition: -webkit-transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out; }

@media screen and (max-height: 30em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }
  .overlay ul li {
    min-height: 34px; } }

.hero-gradient {
  display: none;
  height: 400%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }
  .hero-gradient__container {
    max-width: 90em;
    display: block;
    margin: 0 auto; }

.hero-gradient-safari {
  display: none; }

@media screen and (min-width: 30em) {
  .hero-gradient {
    -webkit-animation: hero-gradient-loop 15s infinite;
    animation: hero-gradient-loop 15s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-image: url("/img/background-loop.png");
    background-image: linear-gradient(#5B3C70, #E57B5D, #5B3C70, #E57B5D, #5B3C70);
    background-size: 100% 100%;
    display: block;
    height: 1000%;
    position: fixed; }
  .hero-gradient-safari {
    background-image: url("/img/background-loop.png");
    background-image: linear-gradient(#5B3C70, #E57B5D, #5B3C70, #E57B5D, #5B3C70);
    background-size: 100% 100%;
    display: block;
    height: 1000%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2; } }

.hero__container {
  max-width: 90em;
  display: block; }

.hero--title {
  font-weight: 400;
  letter-spacing: -1px;
  color: #fff;
  padding: 1rem; }
  .hero--title:after {
    background-color: #fff;
    top: 20px;
    content: '';
    display: block;
    height: 5px;
    left: 0;
    position: relative;
    width: 50px;
    -webkit-animation: blink 1s 4;
    animation: blink 1s 4;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
  .hero--title:hover:after {
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite; }

@media screen and (min-width: 50em) {
  .hero__container {
    margin: 10rem 6rem 6rem;
    max-width: 90em;
    display: block; }
  .hero--title {
    font-size: 3.5rem;
    padding-top: 6rem;
    padding-bottom: 2rem; }
    .hero--title:after {
      left: -30px; } }

.content-wrapper {
  background-color: #fff;
  padding: 20px;
  max-width: 90em;
  margin: 0 auto;
  display: block; }
  @media screen and (min-width: 50em) {
    .content-wrapper {
      padding: 5em; } }
  .content-wrapper a {
    border-bottom: 3px solid #f0b19f; }
    .content-wrapper a:hover {
      border-bottom: 3px solid #E57B5D;
      transition: all .4s ease-in-out; }
    .content-wrapper a.post--title {
      border-bottom: 0;
      color: #5B3C70; }
      .content-wrapper a.post--title:hover {
        border-bottom: 0; }

main ol {
  margin-left: .75em; }

main ul {
  padding-left: 30px; }

main ul li::before {
  content: '—';
  color: silver;
  position: absolute;
  margin-left: -30px; }

#writing ol {
  list-style: none;
  padding-left: 30px;
  margin-left: 0; }

#writing ol li::before {
  content: '—';
  color: silver;
  position: absolute;
  margin-left: -30px; }

.post {
  padding-bottom: 4em; }

.pagination {
  display: inline-block;
  width: 100%; }

#work {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  max-width: 90em;
  margin: 0 auto; }
  #work::-webkit-scrollbar, #work::-webkit-scrollbar-button, #work::-webkit-scrollbar-track, #work::-webkit-scrollbar-track-piece, #work::-webkit-scrollbar-thumb, #work::-webkit-scrollbar-corner {
    background-color: transparent;
    color: transparent; }

.work-pagination {
  list-style-type: none;
  margin: 3em 0 0;
  padding: 0;
  white-space: nowrap; }
  .work-pagination-item {
    display: inline-block; }
    @media screen and (min-width: 50em) {
      .work-pagination-item:first-child {
        padding-left: 2em; } }
  .work-pagination a {
    vertical-align: top;
    text-decoration: #E57B5D; }

.work-card {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  white-space: normal;
  width: 260px;
  height: 350px;
  margin-left: 15px; }
  .work-card__title {
    font-size: 1.5em;
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100%;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 0;
    line-height: 1; }
  .work-card__role {
    bottom: 2em;
    color: #fff;
    left: 2em;
    position: absolute;
    font-weight: 300;
    font-size: .75em; }

.trillectro {
  height: 1.5em; }

.mycumortgage {
  height: 1.25em; }

.hoist {
  height: 2em; }

.view-all {
  color: rgba(255, 255, 255, 0.7);
  font-size: .75em;
  font-weight: 300; }

#more {
  max-width: 90em;
  margin: .5em auto; }

.work-item {
  height: 250px;
  padding: 15px;
  margin: 1em 0;
  position: relative; }
  .work-item__title {
    font-size: 1.5em;
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100%;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0;
    line-height: 1; }
  .work-item__cta {
    bottom: 0px;
    left: 15px;
    position: absolute; }
    @media screen and (min-width: 50em) {
      .work-item__cta {
        bottom: 15px;
        left: 30px; } }
  @media screen and (min-width: 50em) {
    .work-item {
      padding: 30px;
      width: 47%;
      *width: 47%; }
      .work-item:nth-child(2n+1) {
        margin-right: 30px; } }
  @media screen and (min-width: 80em) {
    .work-item {
      padding: 30px;
      width: 48.3%;
      *width: 48.3%; }
      .work-item:nth-child(2n+1) {
        margin-right: 30px; } }

.trillectro__block {
  background-color: #e93d78; }

.style-guide__block {
  background-color: #5B3C70; }

.mycumortgage__block {
  background-color: #009AD7; }

.hoist__block {
  background-color: #033154; }

.apprentice-at__block {
  background-color: #043743; }

.work-together__block {
  background-color: #E57B5D; }

/* Buttons */
.btn {
  padding: .75rem 1.5rem;
  display: inline-block;
  position: relative;
  margin: 1em 0; }
  .btn:hover {
    transition: all .6s ease-in; }
  .btn--default {
    border: 3px solid #b3b3b3 !important;
    color: #b3b3b3; }
    .btn--default:hover {
      border: 3px solid #8d8d8d !important;
      color: #8d8d8d; }
  .btn--primary {
    background-color: #E57B5D;
    border: 0;
    padding: .4rem .75rem;
    outline: none; }
  .btn--alt {
    color: #fff;
    border: 3px solid #fff !important; }
    .btn--alt:hover {
      border: 3px solid rgba(255, 255, 255, 0.7) !important;
      color: rgba(255, 255, 255, 0.7); }
  .btn__text {
    color: #fff;
    text-decoration: none;
    font-size: 1rem; }

p .btn {
  font-size: 16px; }

figure {
  overflow: auto;
  margin: 1em; }
  @media screen and (min-width: 50em) {
    figure {
      margin: 1em 2em; } }

pre {
  line-height: 1.5;
  white-space: pre;
  overflow: auto;
  word-break: inherit;
  word-wrap: inherit;
  margin: 10px; }

.highlight {
  background-color: #f8f8f8;
  border: 1px solid #cdcdcd;
  padding: 0.5em 1em;
  border-radius: 0.25em; }
  .highlight code {
    padding: 0; }

code {
  color: #636363;
  background-color: #f8f8f8;
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  white-space: pre; }

.code {
  width: 100%; }

.c {
  color: #8f8f8f; }

.err {
  color: #a6173b;
  background-color: #ffdddd; }

.k {
  color: #b58900; }

.o {
  color: #636363; }

.cm {
  color: #8f8f8f; }

.cp {
  color: #8f8f8f; }

.c1 {
  color: #8f8f8f; }

.cs {
  color: #8f8f8f; }

.gd {
  color: #636363;
  background-color: #ffdddd; }

.ge {
  color: #636363;
  font-style: italic; }

.gr {
  color: #a6173b; }

.gh {
  color: #8f8f8f; }

.gi {
  color: #636363;
  background-color: #ddffdd; }

.go {
  color: #636363; }

.gp {
  color: #636363; }

.gs {
  font-weight: bold; }

.gu {
  color: #8d8d8d; }

.gt {
  color: #a6173b; }

.kc {
  color: #636363; }

.kd {
  color: #636363; }

.kn {
  color: #636363; }

.kp {
  color: #E57B5D; }

.kr {
  color: #636363; }

.kt {
  color: #2aa198; }

.m {
  color: #2aa198; }

.s {
  color: #2aa198; }

.n {
  color: #268bd2; }

.na {
  color: #b58900; }

.nb {
  color: #2aa198; }

.nc {
  color: #2aa198; }

.no {
  color: #b58900; }

.nd {
  color: #2aa198; }

.ni {
  color: #a6173b; }

.ne {
  color: #a6173b; }

.nf {
  color: #268bd2; }

.nl {
  color: #a6173b; }

.nn {
  color: #636363; }

.nt {
  color: #268bd2; }

.nv {
  color: #b58900; }

.ow {
  color: #636363; }

.w {
  color: #8d8d8d; }

.literal {
  color: #2aa198; }

.string {
  color: #E57B5D; }

.bp {
  color: #268bd2; }

.vc {
  color: #b58900; }

.vg {
  color: #b58900; }

.vi {
  color: #b58900; }

.il {
  color: #2aa198; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 2.2em;
  height: 0;
  overflow: hidden; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.screenshot {
  display: block;
  margin: 0 auto; }

footer {
  max-width: 90em;
  display: block;
  margin: 7em auto 3.5em;
  color: #fff;
  font-size: 16px; }
  footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: 400; }
    footer a:hover {
      text-decoration: underline; }
  footer p {
    font-size: 16px;
    font-weight: 400; }

.footer__nav {
  list-style: none;
  padding-left: 0;
  font-size: 16px; }
  .footer__nav li {
    display: inline-block; }
    .footer__nav li a {
      padding-right: 10px; }
