@include keyframes(mobile-background-loop) {
  0% {
    background-color: $primary-color;
  }
  50% {
    background-color: $secondary-color;
  }
  100% {
    background-color: $primary-color;
  }
}

@include keyframes(hero-gradient-loop) {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
  }
}

@include keyframes(hero-color-loop) {
  0% {
    background-color: $primary-color;
  }
  50% {
    background-color: $secondary-color;
  }
  100% {
    background-color: $primary-color;
  }
}

@include keyframes(blink) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}