<footer id="footer" class='clear-left'>
  <p class='footer__text'>&copy; 2016 Handcrafted and packaged with care by <%= link_to data.footer.personal_site.text, data.footer.personal_site.url %>.</p>
  <p class='footer__text'><%= link_to data.footer.site_source.text, data.footer.site_source.url %> <%= link_to data.footer.style_guide.text, data.footer.style_guide.url %> <%= link_to data.footer.colophon.text, data.footer.colophon.url %></p>
</footer>