// Text Variables
$font-stack: 'Work Sans', Helvetica, sans-serif;

// Universal Site Colors
$primary-color: #5B3C70;
$secondary-color: #E57B5D;
$middle-ground-color: #E57B5D;
$primary-text: #0d0d0d;
$light-gray-text: #8d8d8d;
$black: #000;
$white: #fff;

// Syntax Highlighting Colors
$syntax-bg: #f8f8f8;
$syntax-border: #cdcdcd;
$main-syntax-text: #636363;
$syntax-comment: #8f8f8f;
$removed: #ffdddd;
$inserted: #ddffdd;
$dark-cyan: #2aa198;
$dark-pink: #a6173b;
$strong-blue: #268bd2;
$strong-yellow: #b58900;

// Media Queries
$medium: 37.5em;
$large: 45em;